*{                       /*画面いっぱいに表示する*/
    margin: 0;
    padding: 0;
}

.container{
    width:100vw;          /*画面横幅設定*/
    height:100vh;         /*画面縦幅設定*/
    display:flex;         /*box1~3を横並びにする*/
    flex-wrap: wrap;      /*画面枠を超えたら折り返しする*/
  }
  .box1 {
    width: 30%;            /*画面横幅の割合*/
    height: 30%;           /*画面縦幅の割合*/
    background: #573F2E; /*背景のカラーコード*/
  }
  .box2{
    width: 70%;
    height: 30%;
    background:#3E2D21;  /*背景のカラーコード*/
  }

  .box3{
    width: 30%;
    height: 70%;
    background:#FAEDED;  /*背景のカラーコード*/
  }

  .container2{             /*box4と5の設定のため*/
    width: 70vw;
    height:70vh;
  }

  .box4{
    width: 100%;
    height: 70%;
    background:#6A4021;  /*背景のカラーコード*/
  }
  .box5{
    width: 100%;
    height: 30%;
    background:#3E2D21;  /*背景のカラーコード*/
  }